<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestClassPackage1.Post_TC_2"/>
      <class name="TestClassPackage1.Post_TC_3"/>
      <class name="TestClassPackage1.Post_TC_4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
